<div class="text-white form-list-content">
  <%= content_tag(:h2, form_action(@list), class: 'text-white') %>
  <%= content_tag(:p, "#{I18n.t 'info_messages.form_list'}" ) %>
  <hr class="bg-gray">
  <div class="card card-gray bg-old-blue <%= 'collapsed-card' if editing %>">
    <div class="card-header bg-gradient-dark">
      <%= content_tag(:h3, editing ? 'Edit List Name' : 'List Name', class: 'card-title') %>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse"
                data-toggle="tooltip" title="Collapse">
          <i class="fas fa-<%= editing ? 'plus' : 'minus' %>"></i>
        </button>
      </div>
    </div>
    <div class="card-body" style="display: <%= editing ? 'none' : 'block' %>;">
      <%= form_for shallow_args(@user, @list) do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_area :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.submit 'Save', class: 'btn btn-default bg-teal' %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to_if(!@list.persisted?, fa_plus_icon, '#', disabled: true,
                   class: button_style) do |text| %>
      <%= link_to new_user_book_path(list: @list.id), class: button_style do %>
        <%= text %>
      <% end %>
    <% end %>
  </div>
</div>
