  <div class="card card-red bg-dark-opacity-8">
    <div class="card-header">
      <h3 class="card-title" id="<#%= @list.id %>">Add Books to list</h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body">
      <%= form_with url: user_books_path, method: :post, local: true do |f| %>
        <div class="form-group">
          <%= f.label :name, 'Name' %>
          <%= f.text_field :name, class: 'form-control',
                           data: { behavior: 'autocomplete' } %>
          <%= f.hidden_field :book_id, id: 'book_id' %>
          <%= f.hidden_field :user_id, value: current_user.id %>
          <%= f.hidden_field :list, value: @list.id %>
        </div>
        <div class="form-group">
          <%= f.label :book_status, 'Select a status' %>
          <%= f.select :book_status, book_status_for_select, {},
                       class: 'custom-select' %>
        </div>
        <div class="form-group">
          <div class="form-row">
            <div class="col-sm-6 favorite-checkbox">
              <i class="far fa-heart text-red icon-non-checked"></i>
              <i class="fas fa-heart text-red icon-checked" hidden="hidden"></i>
              <%= f.check_box :favorite_book %>
              <span class="label"></span>
              <%= f.label 'Mark this Book as Favorite' %>
            </div>
            <div class="col-sm-6 favorite-checkbox">
              <i class="far fa-heart text-red icon-non-checked"></i>
              <i class="fas fa-heart text-red icon-checked" hidden="hidden"></i>
              <%= f.check_box :favorite_author %>
              <span class="label"></span>
              <%= f.label 'Mark this as Favorite Author' %>
            </div>
          </div>
        </div>
        <%= f.submit 'Save', class: 'btn btn-danger' %>
      <% end %>
    </div>
  </div>
