<div class="col-md-6 text-white">
  <div class="card card-blue bg-dark-opacity-8">
    <div class="card-header">
      <h3 class="card-title"><%= form_action(@author) %></h3>
      <div class="card-tools">
        <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
          <i class="fas fa-minus"></i></button>
      </div>
    </div>
    <div class="card-body" style="display: block;">
      <%= form_for @author do |f| %>
        <div class="form-group">
          <%= f.label :name %>
          <%= f.text_area :name, class: 'form-control' %>
        </div>
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="far fa-calendar-alt"></i></span>
            </div>
            <input type="text" class="form-control" data-inputmask-alias="datetime" data-inputmask-inputformat="mm/dd/yyyy" data-mask="" im-insert="false">
          </div>
        </div>
        <div class="form-group">
          <%= f.submit 'Create', class: 'btn btn-primary bg-primary' %>
        </div>
      <% end %>
    </div>
  </div>
  <div>
    <%= link_to '#',
                class: 'btn btn-danger btn-lg btn-block text-left' do %>
      Add Books to List <i class="fas fa-plus"></i>
    <% end %>
  </div>
</div>

