<!--original id= timeline-->
<div class="tab-pane" id="activity">
  <div class="timeline timeline-inverse">
    <%= user_recent_activity(@user).map do |date, activities| %>
      <div class="time-label" >
        <span class="bg-gradient-danger"><%= date.strftime("%b. %d %Y").to_s %></span>
      </div>
      <div>
        <%= activities.map do |activity| %>
          <i class="fas fa-arrow-right"></i>
          <div class="timeline-item">
            <span class="time"><i class="far fa-clock"></i>
              <%= time_ago_in_words(activity.updated_at) %>
            </span>
            <% if activity.trackable_type == "Tag" %>
              <h3 class="timeline-header">
                <a href="#"><%= @user.name %></a> <%= render_activity activity, display: :i18n %>
              </h3>
              <div class="timeline-body">
                This a filler to represent what will be shown for all
                tags a user has added so far.
              </div>
              <div class="timeline-footer">
                <a href="#" class="btn btn-primary btn-sm">Add more</a>
                <a href="#" class="btn btn-danger btn-sm">Delete</a>
              </div>
            <% elsif activity.trackable_type == "UserBook" || "List" %>
              <h3 class="timeline-header">
                <a href="#"><%= @user.name %></a> <%= render_activity activity, display: :i18n %>
              </h3>
              <div class="timeline-body">
                Take me to your leader!
                Switzerland is small and neutral!
                We are more like Germany, ambitious and misunderstood!
              </div>
              <div class="timeline-footer">
                <a href="#" class="btn btn-warning btn-flat btn-sm">See all books</a>
              </div>
            <% else %>
              <h3 class="timeline-header border-0">
                <a href="#"><%= @user.name %></a> <%= render_activity activity, display: :i18n %>
              </h3>
            <% end %>
          </div>
        <% end %>
      </div>
    <% end %>
    <div class="time-label">
      <span class="bg-success">3 Jan. 2014</span>
    </div>
    <div>
      <i class="fas fa-camera bg-purple"></i>
      <div class="timeline-item">
        <span class="time"><i class="far fa-clock"></i> 2 days ago</span>
        <h3 class="timeline-header"><a href="#">Mina Lee</a> uploaded new photos</h3>
        <div class="timeline-body">
          <img src="http://placehold.it/150x100" alt="...">
          <img src="http://placehold.it/150x100" alt="...">
          <img src="http://placehold.it/150x100" alt="...">
          <img src="http://placehold.it/150x100" alt="...">
        </div>
      </div>
    </div>
  </div>
</div>