<!--<a href="https://www.freepik.com/vectors/people">People vector created by pikisuperstar - www.freepik.com</a>-->
<div class="card card-gray card-outline bg-dark-opacity-8">
  <div class="card-body box-profile">
    <div class="text-center">
      <%= avatar_icon %>
    </div>
    <%= content_tag :h3, "Hello, #{@user.name}", class: ['profile-username', 'text-center'] %>
    <p class="text-muted text-center">@<%= @user.login_name%></p>

    <ul class="list-group list-group-unbordered mb-3">
      <li class="list-group-item bg-dark-opacity-8">
        Lists <a class="float-right text-white"><%= user_total_lists(@user) %></a>
      </li>
      <li class="list-group-item bg-dark-opacity-8">
        Favorite Authors <a class="float-right text-white"><%= user_favorite_authors(@user) %></a>
      </li>
      <li class="list-group-item bg-dark-opacity-8">
        Books Added <a class="float-right text-white"><%= user_total_books(@user) %></a>
      </li>
    </ul>
    <p>
    <a href="#settings" class="btn btn-block btn-outline-dark bg-maroon" data-toggle="tab"
         id="profile-settings">
        <i class="fas fa-cog"></i> Profile Settings
      </a>
    </p>
  </div>
</div>