<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3 alternative-font">
        <%= render partial: 'profile_info' %>

        <%= render partial: 'about_me' %>
      </div>
      <div class="col-md-9">
        <div class="card card-gray card-outline bg-dark-opacity-8">
          <div class="card-header p-2">
            <ul class="nav nav-pills">
              <li class="nav-item"><a class="nav-link active" href="#feed" data-toggle="tab">Feed</a></li>
              <li class="nav-item"><a class="nav-link" href="#activity" data-toggle="tab">Activity</a></li>
              <li class="nav-item"><a class="nav-link" href="#" data-toggle="tab">Stats</a></li>
              <li class="nav-item invisible"><a class="nav-link" href="#settings" data-toggle="tab">Settings</a></li>
            </ul>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <%= render partial: 'feed' %>

              <%= render partial: 'activity' %>

              <%= render partial: 'settings' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
