<body class="image-background">
<div class="card">
  <div class="card-body bg-old-blue text-white">
    Showing search result. <a href=<%= search_path %>>Back to search page</a>
  </div>
</div>
<div class="row w-75 mx-auto">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h3 class="card-title"><i class="fas fa-exclamation-triangle text-danger"></i>
          Couldn't find what you are looking for? Search
          <a href="#">elsewhere</a> or <a href="#">manually insert data.</a></h3>
        <div class="card-tools">
          <div class="input-group input-group-sm" style="width: 150px;">
            <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
            <div class="input-group-append">
              <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body p-0">
        <table class="table table-head-fixed table-hover table-dark text-nowrap">
          <tbody>
          <% @results.map do |result| %>
            <tr>
              <td>
                <%= image_tag("generic-book-cover.jpg", class: 'img-thumbnail w-25 h-25') %>
              </td>
              <td>
                <p class="font-italic mb-0"><%= result.title %></p>
                <p class="mb-0">by <%= result.author.name %></p>
                <p class="mb-0">First Published/Released: <%= result.release_year %></p>
                <p class="mb-0"><%= result.language %></p>
                <p class="font-italic mb-0"><%= result.genre.description %></p>
              </td>
              <td>
                <button class="btn btn-success">add to list</button>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <!-- /.card-body -->
    </div>
    <!-- /.card -->
  </div>
</div>
</body>