<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body class="<%= current_user ? 'bg-old-blue' : 'image-background' %>">
    <% if current_user %>
      <%= render partial: 'layouts/navbar' %>
      <%= render partial: 'layouts/content_header' %>
    <% else %>
      <%= render partial: 'layouts/navbar_with_logo'%>
    <% end %>
    <title>Booklog</title>
    <%= yield %>
  </body>
</html>
